* {
	box-sizing: border-box;
	text-align: center;
	margin-right: 10px;
	margin-left: 10px;
}

body {
	background-image: url("../images/crystalline_child.jpg");
	font-size: 24px;
	line-height: 32px;
	font-family: 'Neucha', cursive;
	color: #3299CC;
	background-color: black;
}


.container-fluid {
	/*background-image: url("../images/crystalline_child.jpg");*/
	background-color: transparent;
}

h1 {
	font-family: 'Bangers', cursive;
	color: black;
}

.panel-body {
	background-color: transparent;
	float: left;
	box-sizing: border-box;
}

.row {
	/*background-color: transparent;*/
	height: 120px;
	width: 120px;
	position: fixed;
	bottom: 0;
	float: left;
}

.col-sm-3 {
	background-color: transparent;
	
}

.container1 {
	background-color: transparent;
	box-sizing: border-box;
	float: left; 

}


.section-container {
	/*box-sizing: border-box;
	border: red solid 3px;
	padding-top: 20px;
	width: 355px;
	height: 300px;
	margin-left: 10px;
	margin-bottom: 20px;
	float: left;*/
}


