* {
	box-sizing: border-box;
	text-align: center;
	margin-right: 10px;
	margin-left: 10px;
}

body {
	background-image: url("../images/crystalline_child.jpg");
	background-repeat: no-repeat;
	font-size: 24px;
	line-height: 32px;
	font-family: 'Neucha', cursive;
	color: #3299CC;
	background-color: black;
}

.jumbotron {
	text-align: center;
	background: transparent;
	padding-bottom: 1px;
	border: solid 1px red;
}

/*.guru, .game, #goal {
	margin-top: 5px;
}
*/
h1 {
	font-family: 'Bangers', cursive;
}

.row {
	font-family: 'Bangers', cursive;
	margin-left: 0;
  	margin-right: 0;
}

.container {
	border: solid 1px red;
}

#content {
	border: dashed 1px red;
	width: 1140px;
	height: 100px;
	position: absolute;
}

.guru {
	top: -86%;
	left: -2%;
}

.playerScore {
	float: right;
	margin: -5px;
}

.playerWins, #wins {
	float: left;
}

#losses {
	float: right;
}

.playerLosses {
	position: relative; 
}

/*#losses {
	position: relative;
}*/

/*.playerScore {
	float: right;
	padding: 2px;
}*/

/*#score {
	margin: 2px;
}
#wins, #losses p {
	margin: 2px;
	position: absolute;
}

.col-lg-5 {
	background: transparent;
	text-align: center;
	height: 200px;
	font-size: 60px;
}*/

/*.col-lg-2 {
	text-align: center;	
}

#pieces {
	text-align: center;
	margin-top: 20px;
	padding: 20px;
	background: transparent;
}

.gems {
	width: 100px;
	height: 100px;
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    float: left;
}*/




