* {
	box-sizing: border-box;
	text-align: center;
	margin-right: 10px;
	margin-left: 10px;
}

body {
	background-image: url("../images/crystalline_child.jpg");
	font-size: 24px;
	line-height: 32px;
	font-family: 'Neucha', cursive;
	color: #3299CC;
	background-color: black;
}


.container-fluid {
	/*background-image: url("../images/crystalline_child.jpg");*/
	background-color: transparent;
	float: left;
}

h1 {
	font-family: 'Bangers', cursive;
	color: black;
}

.panel-body {
	background-color: transparent;
	float: left;
	box-sizing: border-box;
}

/*.row {
	/*background-color: transparent;*/
	height: 120px;
	width: 24%;
	position: fixed;
	bottom: 0;
	float: left;
/*}*/

/*.col-sm-3 {
	background-color: transparent;
	width: 25%;
	
}
*/
.container1 {
	background-color: transparent;
	box-sizing: border-box;
	float: left; 

}

.container2 {
	float: left;
	padding-bottom: 10px;
}

.gem1 {
	width: 25%;
	float: left;
}

.gem2 {
	width: 25%;
	float: left;
}

.gem3 {
	width: 25%;
	float: left;
}

.gem4 {
	width: 25%;
	float: left;
}





